*{
    margin: 0px;
    padding:0px;

}
body{
    background: url(../img/layout/wall-paper.png);
    background-size: 100%;
    
}
.mainBody{
    margin-left: 10%;
    margin-top: 2%;
}
#wizardofoz{
    margin-top: -5%;
}
.sideVideos{
    float: right;
    margin-top: -45%;
    margin-right: 12%;
} 
.temp{
    
    display: flex; 
    justify-content: center; 
    overflow: scroll; 
    height: 200px;
    width: 200px;
    margin-left: 40%;
}
#task{
    position: fixed;
    bottom:0px;
   height:40px;
   width:100%;
   background:rgba(36, 34, 34);
   text-decoration: none;
   
    
}


#web-browser{
    position: fixed;
    bottom: 0px;
    margin-left: 2.5%;
    text-decoration: none;
    

}
#files{
    position: fixed;
    bottom: 0px;
    text-decoration: none;
    
}
#files:hover{
    opacity: .8;
}
#web-browser:hover{
    opacity: .8;
}
#browser-nav{
    background-color: rgba(36, 34, 34);
    width: 60%;
    height: 30px;
    color: seashell;
    margin-top: -31.5%;
    margin-left: 20%;



}

#videos{
    margin-top: 10%;
    margin-left: -50%;
}
#duck{
    margin-top: 10%;;
}
.webbrowser{
    display: flex;
    left:50%;
    top: 50%;
    margin-left: 20%;
    justify-content: center;
    border: black solid 2px;
    background-color: white;
    margin-top: 4%;
    height: 600px;
    overflow-y: scroll;
    width: 60%;
    
}
.videobrowser{
    display: flex;
    left:50%;
    top: 50%;
    margin-left: 20%;
    justify-content: center;
    border: black solid 2px;
    background-color: #282A35;
    margin-top: 4%;
    height: 600px;
    overflow-y: scroll;
    width: 60%;
    
}

@media only screen and (max-width:412px){
    .sideVideos{
        margin-left: 20%;
        margin-top: 4%;
    
    }
    body{
        background: url(../img/layout/bg-mobile.jpg);
        background-repeat: repeat-y 100%;
        
    }
}