.title{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 22px;
}
.links{
    display: flex;
    justify-content: center;
    font-size: 22px;
}
.favorites {
    margin-left: 40%;
}
.favorites li{
    display: inline-flex;
}
.profile{
    margin-left: 25%;
}
.pfp{
    margin-top: -3%;
    margin-left: 2%;
    margin-right: 0%;
}
.name{
   margin-left: 5%;
   float: center;
}
.profile-links{
    display: inline-flex;
}
.profile-links li{
    padding-left: 10%;
    list-style-type: none;
}
.profile-links li a{
    color: seashell;
    text-decoration: none;

}


@media screen and (max-width: 380px){
    .profile{
     margin-left: 0px;
    }
    .pfp{
        margin-top: -13%;
        margin-left: 24%;
    }
    .name{
        margin-left: 33%;
    }
    .background-pfp {
        width: 500px;
    }
}