.main-body{
    
    
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 22px;
}
.links{
    display: flex;
    justify-content: center;
    font-size: 22px;
}
.favorites {
    margin-left: 40%;
}
.favorites li{
    display: inline-flex;
}
.profile{
    
    background-color: rgb(43, 40, 40);
    width: 60%;
    margin-left: 20%;
    border-radius: 2%;;
    padding-bottom: 3%;
}
.background-pfp{
    margin-left: 6%;
    border-radius: 25px;
}
.pfp{
    margin-top: -3%;
    margin-left: 7%;
    margin-right: 0%;
}
.name{
   margin-left: 10%;
   float: center;
}
.profile-links{
    display: inline-flex;
}
.profile-links li{
    padding-left: 10%;
    list-style-type: none;
}
.profile-links li a{
    color: seashell;
    text-decoration: none;

}
.post-section{

    margin-left: 20%;
    width: 30%;
    background-color: rgb(43, 40, 40);
    border-radius: 25px;
    padding: 2%;
    margin-top: 4%;
}


@media screen and (max-width: 500px){
    .profile{
     margin-left: 0px;
    }
    .pfp{
        margin-top: -13%;
        margin-left: 24%;
    }
    .name{
        margin-left: 33%;
    }
    .background-pfp {
        width: 300px;
    }
    .profile{
        width: 100%;
    }
    .post-section{
        width: 70%;
    }
}