.title{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 22px;
}
.links{
    display: flex;
    justify-content: center;
    font-size: 22px;
}
.favorites {
    margin-left: 40%;
}
.favorites li{
    display: inline-flex;
}
.profile{
    margin-left: 25%;
}
.pfp{
    margin-top: -9%;
    margin-left: 27%;
}
.name{
    margin-left: 30%;
}


@media screen and (max-width: 380px){
    .profile{
     margin-left: 0px;
    }
    .pfp{
        margin-top: -13%;
        margin-left: 24%;
    }
    .name{
        margin-left: 33%;
    }
    .background-pfp {
        width: 500px;
    }
}