#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicks through the snow layer */
    overflow: hidden;
    z-index: 1000;
}

#page-footer {
    height: 100px;
    background-color: #242526; 
    color: white;
    text-align: center;
    line-height: 100px;
    position: relative; /* Make sure the footer is visible */
    z-index: 999; 
   
}

.snowflake {
    position: absolute;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 1s ease-out; /* For the melting effect */
}

.melting {
    opacity: 0 !important;
}
