body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.gbc-body {
    width: 320px;
    height: 520px;
    background-color: #a32a67; /* Berry Pink */
    border-radius: 10px 10px 60px 10px;
    position: relative;
    padding: 25px;
    box-shadow: inset -10px -10px 0px rgba(0,0,0,0.2), 15px 15px 30px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gbc-screen-border {
    width: 270px;
    height: 230px;
    background-color: #444;
    border-radius: 10px 10px 45px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #222;
}

#threejs-container {
    width: 190px;
    height: 170px;
    background-color: #000;
    border: 2px solid #111;
}

/* D-Pad Controls */
.gbc-controls {
    width: 100%;
    margin-top: 40px;
    position: relative;
}

.d-pad {
    position: absolute;
    left: 20px;
    width: 90px;
    height: 90px;
}

.d-pad div {
    position: absolute;
    background: #222;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.d-pad div:active { background: #444; }

.up { top: 0; left: 30px; border-radius: 5px 5px 0 0; }
.down { bottom: 0; left: 30px; border-radius: 0 0 5px 5px; }
.left { top: 30px; left: 0; border-radius: 5px 0 0 5px; }
.right { top: 30px; right: 0; border-radius: 0 5px 5px 0; }
.middle { top: 30px; left: 30px; }

/* Buttons */
.action-buttons {
    position: absolute;
    right: 10px;
    top: 30px;
    display: flex;
    gap: 15px;
    transform: rotate(-25deg);
}

.btn-a, .btn-b {
    width: 45px;
    height: 45px;
    background: #333;
    border-radius: 50%;
    color: #a32a67;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 2px 4px 0px #111;
    cursor: pointer;
}

.gbc-logo {
    position: absolute;
    bottom: 50px;
    color: #1a1a1a;
    font-family: 'Arial Black', sans-serif;
    font-style: italic;
    font-size: 14px;
}
